@model IEnumerable<MIS4200CentricTeam4.Models.EmployeeFeedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback.employeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedbackDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedbackProvider)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback.employeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feedbackDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feedbackProvider)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeFeedbackID }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeFeedbackID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeFeedbackID })
        </td>
    </tr>
}

</table>
