@model MIS4200CentricTeam4.Models.Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.feedbackID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feedbackID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feedbackName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feedbackName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employeeName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
